/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(149, 247, 84);
  --color-primary--dark: rgb(67, 155, 8);
  --color-primary--light: rgb(219, 250, 198);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray: rgb(100, 100, 100);
  --color-gray--light: rgb(180, 189, 184);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --nongki-detail-img-height: 20rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make it easier to click and centering both horizontal and vertical. */
a,
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
}

#main-content {
  flex: 1;
}

/* Utility */
.text-primary {
  color: var(--color-primary);
}
.text-gray {
  color: var(--color-gray);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: var(--color-primary--light);
  color: var(--color-primary--dark);
  font-weight: 600;
  padding: 0.5rem;
  z-index: 999;
}
.skip-link:focus {
  top: 0.5rem;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* 
############################
       Hero & Header
############################
*/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../public/images/heros/hero-image_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 30rem;
  display: grid;
  place-items: center;
}

.hero__inner {
  text-align: center;
  color: var(--color-white);
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 64rem;
}

.hero__title {
  font-size: 1.8rem;
  margin: 0;
}

.header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: var(--tw-shadow);
  z-index: 999;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  max-width: 72rem;
  margin: 0 auto;
}

.header__title {
  margin: 0;
  font-size: 1.5rem;
}

.header__title a {
  text-decoration: none;
  color: var(--color-black);
}

/* 
############################
 Navigation Off-Canvas Menu
############################
*/
.nav {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding: 2em 3.5em;
  background: var(--color-white);
  overflow: auto;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1),
    visibility 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}

.nav-open.nav {
  visibility: visible;
  transform: translateX(0);
}

.nav__list {
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav__title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-gray--light);
  margin: 1.5em 0;
  letter-spacing: 0.1rem;
}

.nav__list a {
  display: block;
  font-size: 2.5rem;
  font-family: serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
}

.nav__list li:not(first-child) {
  margin-top: 2rem;
}

/* Nav List animate */
.nav-open .nav__list a {
  animation: slide-in 0.4s 0.2s backwards;
}

.nav-open .nav__list li:nth-of-type(2) a {
  animation-delay: 0.3s;
}

.nav-open .nav__list li:nth-of-type(3) a {
  animation-delay: 0.4s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ☰ Button */
.nav-btn {
  position: relative;
  z-index: 4;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
}

.nav-btn span,
.nav-btn span::before,
.nav-btn span::after {
  position: absolute;
  height: 4px;
  width: 36px;
  background: #1f2b3d;
}

.nav-btn span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}

.nav-btn span::before,
.nav-btn span::after {
  content: '';
  top: 0;
  left: 0;
  transition: background 0.3s, transform 0.3s;
}

.nav-btn span::before {
  transform: translateY(-12px);
}

.nav-btn span::after {
  transform: translateY(12px);
}

/* X Button */
.nav-btn[aria-expanded='true'] span {
  background: transparent;
}

.nav-btn[aria-expanded='true'] span::before {
  transform: rotate(-45deg);
}

.nav-btn[aria-expanded='true'] span::after {
  transform: rotate(45deg);
}

/* 
############################
    Daftar Nongki
############################
*/

.content {
  max-width: 72rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.content > h2 {
  text-align: center;
  font-size: 1.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-gray);
}

nongki-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

nongki-item {
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
}

nongki-item img {
  width: 100%;
  height: 16rem;
  object-fit: fill;
}

nongki-item > span {
  font-size: 0.875rem;
  padding: 0.5rem;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nongki-item > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

nongki-item h3 {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.25rem;
}

nongki-item a {
  text-decoration: none;
  color: #000;
}

nongki-item p {
  color: var(--color-gray);
  line-height: 1.5rem;
  grid-column: span 2;
  /* Limit Text Length to 6 Lines */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* Stars Rating */
.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-family: Times;
  line-height: 1;
  justify-self: end;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--color-primary) var(--percent),
    var(--color-primary--light) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
############################
    Detail Nongki
############################
*/

nongki-detail > figure {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: var(--nongki-detail-img-height);
  overflow: hidden;
}

nongki-detail > figure img {
  width: 100%;
  max-height: var(--nongki-detail-img-height);
  object-fit: fill;
}

.nongki-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nongki-detail__header > div span {
  font-size: 0.75rem;
  color: var(--color-gray);
}

.nongki-detail__header > div h2 {
  margin: 0;
}

.nongki-detail__category {
  margin-top: 1rem;
}

.nongki-detail__category span::before {
  content: '#';
}

.nongki-detail__category span {
  display: inline-block;
  border: 1px solid var(--color-gray);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.875rem;
}

.nongki-detail__category span:not(:first-child) {
  margin-left: 0.5rem;
}

.nongki-detail__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 36rem;
}

.nongki-detail__menu h3 {
  margin: 0;
  grid-column: span 2;
}

/* Review */
.nongki-detail__review {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.8rem;
  background-color: white;
  box-shadow: var(--tw-shadow);
}

.nongki-detail__review:not(:first-child) {
  margin-top: 1rem;
}

.nongki-detail__review__title {
  font-weight: 700;
}

.nongki-detail__review__date {
  font-size: 0.75rem;
  color: var(--color-gray);
}

.nongki-detail__review p {
  font-size: 0.875rem;
  color: var(--color-gray);
  margin: 0.5rem 0 0;
}

.nongki-detail__reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
}

.nongki-detail__reviews ul {
  margin: 0;
  padding: 0;
}

add-review-form {
  padding: 1rem;
  box-shadow: var(--tw-shadow);
  display: block;
}

add-review-form h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

add-review-form label {
  display: flex;
  margin-bottom: 1.5rem;
}

add-review-form label > span {
  min-width: 5rem;
  display: block;
}

add-review-form label > input,
add-review-form label > textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  box-shadow: var(--tw-shadow);
  border-radius: 0.25rem;
}
add-review-form label > textarea {
  min-height: 8rem;
}

add-review-form button {
  border: none;
  border-radius: 0.125rem;
  background-color: var(--color-primary--dark);
  color: var(--color-white);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  display: block;
  width: 100%;
}

add-review-form button svg {
  width: 1rem;
  height: 1rem;
}
add-review-form button span {
  margin-right: 0.5rem;
}

/* Like */
.like {
  font-size: 18px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: var(--color-primary--dark);
  color: var(--color-white);
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--color-primary--dark);
  color: var(--color-white);
}

/* Media Query */
@media screen and (min-width: 640px) {
  :root {
    --nongki-detail-img-height: 24rem;
  }

  .header__container {
    margin: 0 auto;
  }
  /* Navigation */
  .nav {
    position: relative;
    padding: 0;
    height: 100%;
    background: transparent;
    transform: translateX(0);
    visibility: visible;
  }
  .nav__list {
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__list a {
    display: inline-flex;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  .nav__list li:not(first-child) {
    margin-top: 0;
    margin-left: 2.5em;
  }
  .nav header {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  nongki-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .like {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 728px) {
  .nongki-detail__reviews {
    grid-template-columns: 4fr minmax(20rem, 1fr);
  }
  .nongki-detail__reviews > div {
    grid-row: 1/2;
  }
  add-review-form {
    grid-column: 2/3;
    position: sticky;
    top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  nongki-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
