<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nongki Id</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="hero">
        <header class="header">
            <h1 class="header__title"><span class="text-primary">Nongki</span>.Id</h1>
            <button type="button" class="nav-btn" aria-label="Tombol Navigasi" aria-expanded="false" id="navigation-btn"
                aria-haspopup="true">
                <span></span>
            </button>
            <nav class="nav" id="navigation" aria-label="Navigasi">
                <header>
                    <h2 class="nav__title">Navigasi</h2>
                </header>
                <ul class="nav__list">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="https://github.com/dev-feriansyah">About Us</a></li>
                </ul>
            </nav>
        </header>
        <div class="hero__inner" id="maincontent">
            <h2 class="hero__title">Cari tempat nongki andalan Anda dengan mudah</h2>
            <p class="hero__tagline">Kumpulan tempat nongki yang ada di Indonesia</p>
        </div>
    </div>
    <main>
        <section class="content" id="content">
            <h2>Tempat <span class="text-primary">Nongki</span></h2>
        </section>
    </main>
    <footer>
        <p>Copyright © 2021 - Nongki.Id Apps</p>
    </footer>
</body>
</html>
